<!-- div with slighly darker bg than the lite pink-->
<form
        action="https://us-central1-longoland-bd5d7.cloudfunctions.net/followLongoLand"
        method="post"
        target="popupwindow"
        class="embeddable-buttondown-form"
    >
<div class="bg-[#fcd0b1] p-2 w-full flex-col flex rounded-md mt-4 shadow-lg">
    <p class="mx-2 my-1 text-lg text-zinc-800 font-serif">Be notified of future posts...</p>
    <input id="email" name="email" class="mx-2 mb-1 py-1 px-2 w-[300px] bg-[#fcf6f0] shadow-sm font-serif rounded-sm" type="text" placeholder="Email">
    <button class="mx-2 my-1 p-1 w-[120px] shadow-sm bg-zinc-700 text-slate-50 font-semibold rounded-sm">Subscribe</button>
</div>
</form>